.head {
  position: relative;
  top: 20px;
  left: 100px;
  margin: auto auto 100px auto;
}

.sign-container {
  position: relative;
  left: 100px;
}

.block {
  cursor: pointer;
  position: relative;
  display: flex;
  padding: 40px;
  border: 1px solid black;
  width: 80%;
  margin: 10px auto;
  background-color: beige;
  transition: .5s;
  &:hover {
    background-color: darkseagreen;
  }
}



div {
  font-family: monospace;
}
