  <div class="header" >
    <span class="title">
      Обходной лист
    </span>
  </div>
  <div class="bgc">
    <div class="container">
      <div *ngFor="let item of signs" class="department-container">
        <span class="white-text">{{item.departmentName}}</span>
        <span *ngIf="item.isSigned; else unsigned">
         <img src="../assets/ok.png" class="icon">
        </span>
        <span>
          <ng-template #unsigned>
            <img src="../assets/not-ok.png" class="icon">
          </ng-template>
        </span>
      </div>
    </div>
  </div>
  <div class="container" style="top:100px;">
    <div *ngFor="let sign of signs">
      <div *ngIf="sign.level == iteration" class="sign" >
        {{sign.departmentName}}, Глава: {{sign.departmentHeadName}}
        <button class="float" (click)="signDocument(sign)">Подписать</button>
      </div>
    </div>
    <button (click)="next()" > Далее</button>
    <div *ngIf="validation">
      <button (click)="submit()">Submit</button>
    </div>
  </div>
