<div class="head">
  <h1>Обходной лист</h1>
</div>

<div class="sign-container">
  <div *ngFor="let sign of signs">
    {{sign.departmentName}}
    <span *ngIf="sign.isSigned">ok</span>
  </div>
</div>

<hr>

<div *ngFor="let sign of signs">
  <div *ngIf="sign.level == iteration" class="block" (click)="signDocument(sign)">
    {{sign.departmentName}}
    <br>
    Глава: {{sign.departmentHeadName}}
    <br>
  </div>
</div>
<hr>
<button [hidden]="iteration !== 0" (click)="next()"> Старт </button>
<button (click)="next()" [hidden]="iteration == 0"> Далее</button>
<button [hidden]="!validation" (click)="submit()">Submit</button>

