<div class="container">
  <span class="sign-list" *ngFor="let sign of signs" [ngClass]="{'done': sign.isSigned}">
    {{sign.departmentName}}
  </span>
</div>

<hr>

<div *ngFor="let sign of signs">
  <div *ngIf="sign.level == iteration" class="block">
    {{sign.departmentName}}
    <br>
    <button (click)="signDocument(sign)" style="position: relative;margin: 10px;"> Подписать </button>
  </div>
</div>

<button [hidden]="iteration !== 0" (click)="next()" style="position: relative; left: 45%;"> Старт </button>
<button (click)="next()" [hidden]="iteration == 0"> Следующий отдел(ы)</button>
<button [hidden]="!validation" (click)="submit()" class="submit">Submit</button>
